cffi==1.14.0
click==7.1.2
concurrent-log-handler==0.9.16
cryptography==2.9.2
dnspython==1.16.0
Flask==1.1.2
future==0.18.2
impacket==0.9.23
itsdangerous==1.1.0
Jinja2==2.11.2
ldap3==2.7
ldapdomaindump==0.9.3
MarkupSafe==1.1.1
portalocker==1.7.0
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.9.8
pymodbus==2.3.0
pyOpenSSL==19.1.0
pyserial==3.4
pywin32==228
scapy==2.4.3
six==1.15.0
Werkzeug==1.0.1
